/*リセットCSS*/
* {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    color: #333333;
}

a {
    color: inherit; /* 親要素の色を継承 */
    text-decoration: none; /* 下線を消す */
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
   position: fixed; /*要素を固定する*/
   z-index: 9999;
   height: 80px;
   width: 100%;
   background-color: rgba(255,255,255,80%);
}

header .container {
    height: 100%; 
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

header p {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

header ul {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
    list-style: none;
}

header a {
    font-size: 16px;
    font-weight: bold;
}

.firstview h1 {
    font-size: 64px;
}

.firstview p {
    font-size: 14px;
}

.firstview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-image: url('images/hero-image.png');
    background-position: center;
    background-size: cover;
}

.about {
    padding: 140px 0;
}

.profile{
    display: flex;
    column-gap: 5%;
}

.section-title {
    display: inline-block;
    font-size: 64px;
    letter-spacing: 0.1em;
}

.profile h2 {
    font-size: 64px;
    letter-spacing: 0.1em;
}

.profile h3 {
    margin-top: 72px;
    font-size: 24px;
}

.profile p {
    margin-top: 24px;
    font-size: 16px;
}

.profile img {
    width: 47.5%;
}


.school-club {
    margin-top: 200px;
    display: flex;
    column-gap: 5%;
}

.school-club .content {
    width: 100%;
}

.school-club h3 {
    margin-top: 8px;
}

.school-club p {
    margin-top: 16px;
}

.school-club img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.school-club a {
    display: inline-block;
    margin-top: 32px;
    font-weight: bold;
    border-bottom: 1px solid #333333;
}

.favorite {
      padding: 140px 0;
      text-align: center;
      background-image: url('images/favorite-background.png');
      background-size: cover;
      background-position: center;
}

.favorite .section-title {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.favorite-content img {
    width: 200px;
    aspect-ratio: 1 / 1; /*画像の縦横比を1対1に設定  横/縦 */
    border-radius: 50%; /*画像を円形にする*/
}

.favorite-content h3 {
    margin-top: 24px;
    font-size: 24px;
}

.favorite-content p {
    margin-top: 8px;
    font-size: 16px;
    text-align: left;
}

.favorite-content {
    width: 320px;
    padding: 40px;
    background-color: rgba(255,255,255,80%);
    border-radius: 16px;
}

.favorite-contents {
    display: flex;
    column-gap: 16px;
    margin-top: 80px;
    justify-content: space-between;
}

.section-title {
    display: incline-block;
    font-size: 64px;
    letter-spacing: 0.1em;
}

.contact {
    padding: 140px 0;
    text-align: center;
}

.contact .container {
    max-width: 800px;
}

.contact .section-title {
    border-bottom: 3px solid #ff9900;
}

.contact .sns-twitter {
    background-color: #00acee;
}

.contact .sns-facebook {
    background-color: #3b5998;
}

.contact .sns-website {
    background-color: #333333;
}

.contact .sns {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    margin-top: 100px;
}

.contact p {
    margin-top: 48px;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.1em;
}

.contact a {
    display: inline-block;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
    color: #ffffff;
    letter-spacing: 0.1em;
    border-radius: 16px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 14px;
    letter-spacing: 0.1em;
    background-color: #edece7;
}

@media (max-width: 768px) {

    header ul {
        display: none; /*画面上で非表示にする*/
    }

   .about {
       padding: 80px 0;
   }

   .section-title {
    font-size: 44px;
   }

    .profile {
     flex-direction: column;
     row-gap: 24px;
    }

   .profile h3 {
    margin-top: 24px;
   }

   .profile p {
    margin-top: 16px;
   }

   .profile img {
    width: 100%;
   }
    .school-club {
     flex-direction: column;
     row-gap: 40px;
     margin-top: 100px;
    }

    .school-club img {
     height: 220px;
    }

    .school-club a {
     margin-top: 24px;
    }

    .favorite {
     padding: 80px 0;
    }

    .favorite-content {
     max-width: 100%;
    }

    .favorite-content img {
        width: 200px;
        aspect-ratio: 1 / 1; /*画像の縦横比を1対1に設定  横/縦 */
        border-radius: 50%; /*画像を円形にする*/
        max-width: 100%;
    }

    .favorite-contents {
     flex-direction: column;
     row-gap: 40px;
     align-items: center;
    }

    .contact {
     padding: 80px 0;
    }

    .contact p {
     font-size: 20px;
    }

    .contact .sns {
     flex-direction: column;
     row-gap: 10px;
     margin-top: 50px;
    }

    .contact a {
     width: 100%;
     line-height: 60px;
    }
}